#folders
bin/
pkg/
src/github.com/
src/golang.org/
src/google.golang.org/
src/github.com/evanchen/bamboo/db/data
src/github.com/evanchen/bamboo/db/log

*.exe
*.log

!bin/protoc-gen-go.exe
!bin/etc/config.sys